<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Remote Desk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <!-- Favicon -->
    {% load static %}
    <!-- Sweet Alert -->
    <link type="text/css" rel="stylesheet" href="{% static 'html/vendor/sweetalert2/dist/sweetalert2.min.css' %}">
    </link>

    <!-- Notyf -->
    <link type="text/css" rel="stylesheet" href="{% static 'html/vendor/notyf/notyf.min.css' %}">
    </link>

    <!-- Volt CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'html/css/volt.css' %}">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
  
    <!--<div class="container">-->
    <br />
    <br />
    <br />
    <br />
    <br />
<main>
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <img class="img-fluid w-75" src="{% static 'html&css/assets/img/illustrations/404.svg' %}"
                            alt="404 not found">
                        <h1 class="mt-5">Page not <span class="fw-bolder text-primary">found</span></h1>
                        <p class="lead my-4">Oops! Looks like you followed a bad link. If you think this is a problem
                            with us, please tell us.</p>
                        <a href="/"
                            class="btn btn-gray-800 d-inline-flex align-items-center justify-content-center mb-4">
                            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Back to homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <!--</div>-->

    <!-- Core -->
    <link type="text/css" rel="stylesheet" href="{% static 'html/vendor/@popperjs/core/dist/umd/popper.min.js' %}">
    </link>

    <script src="{% static 'html/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Vendor JS -->
    <script src="{% static 'html/vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>

    <!-- Slider -->
    <script src="{% static 'html/vendor/nouislider/distribute/nouislider.min.js' %}"></script>

    <!-- Smooth scroll -->
    <script src="{% static 'html/vendor/nouislider/distribute/nouislider.min.js' %}"></script>

    <script src="{% static 'html/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

    <!-- Charts -->
    <script src="{% static 'html/vendor/chartist/dist/chartist.min.js' %}"></script>

    <script src="{% static 'html/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

    <!-- Datepicker -->
    <script src="{% static 'html/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

    <!-- Sweet Alerts 2 -->
    <script src="{% static 'html/vendor/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

    <!-- Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <!-- Vanilla JS Datepicker -->
    <script src="{% static 'html/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

    <!-- Notyf -->
    <script src="{% static 'html/vendor/notyf/notyf.min.js' %}"></script>

    <!-- Simplebar -->
    <script src="{% static 'html/vendor/simplebar/dist/simplebar.min.js' %}"></script>

    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Volt JS -->
    <script src="{% static 'html/assets/js/volt.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <footer id="sticky-footer" class="py-4">
        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
            <p class="font-weight-bold font-medium mb-0">Copyright © MyRemoteDesk
                <span class="current-year">
                    <script>document.write(new Date().getFullYear())</script>
                </span>. All rights reserved.
            </p>
        </div><br>
        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
            <p class="font-weight-bold font-small mb-0"><span><a href="https://www.narenderkeswani.com/">Made with
                        &#128151 By NARENDER KESWANI , PRATHAMESH BHOSALE & CHINMAY VYAPARI</a></span></p>
        </div>
    </footer>
</body>

</html>