{% extends 'EmpDashboard.html' %}
{% block body %}
<div class="container">
    <div class="container-fluid kanban-container py-4 px-0">
        <div class="row d-flex flex-nowrap">
            {% for board in board_details %}
            <div class="col-12 col-lg-6 col-xl-4 col-xxl-3">
                <div class="card border-0 shadow p-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="h2 fw-bold mb-0 d-flex justify-content-center">{{ board.b_name|upper }}</h2>
                    </div>
                    <div id="kanbanColumn1" class="list-group kanban-list">
                        {% for task in board.boardids.all %}
                        {% if task.e_id.id == request.session.u_id %}
                        <div class="card border-1 shadow p-4">
                            <div
                                class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-2">
                                <h3 class="h3 mb-0">{{task.t_name|upper}}</h3>
                            </div>
                            <div class="card-body p-0">
                                <p>{{task.t_desc}}</p>

                                <h4 class="fs-6 fw-normal mt-4"><b>Project:</b>
                                    {{task.p_id.p_name|upper}}</h4>

                                <h4 class="fs-6 fw-normal mt-4"><b>Assigned:</b>
                                    {{task.e_id.e_name|upper}}</h4>
                                <h4 class="fs-6 fw-normal mt-4"><b>Priority:</b>
                                    {% if task.t_priority == "High Priority" %}
                                    <span class="badge bg-danger">High</span>
                                    {% elif task.t_priority == "Medium Priority" %}
                                    <span class="badge bg-warning">Medium</span>
                                    {% elif task.t_priority == "Low Priority" %}
                                    <span class="badge bg-info">Low</span>
                                    {% endif %}
                                </h4>
                                <h5 class="fs-6 fw-normal mt-4"><b>Assigned Date:</b>
                                    {{task.t_assign_date}}
                                </h5>
                                <h5 class="fs-6 fw-normal mt-4"><b>Deadline Date:</b>
                                    {{ task.t_deadline_date}}
                                </h5>
                            </div>
                        </div>
                        <br>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}