{% extends 'layout.html' %}
{% block body %}
<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white p-4 p-lg-5 w-100 fmxw-1000">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">FAQ's</h1>
                    </div>
                    <img src="/static/html/assets/img/questions_desc.png">
                    

                    <div class="container" id="test">
                        <div class="card-body">
                            <div class="qanda">
                                <h5>
                                    Are there any privacy concerns?</h5>
                                <hr>
                                <p>
                                    The software does not monitor anything on someone’s computer when they’re on a break or when they’re not working. So even people working from home can be comfortable knowing that they are not being monitored during their own time. Our position on privacy is that a company has the right to know what employees are doing during work hours, and have no right at all to know what they’re doing during breaks or after working.
                                 </p>
                            </div>
                            <div class="qanda">
                                <h5>
                                    Is this software intrusive? </h5>
                                <hr>
                                <p>
                                   We believe that the employer has the right to know what their employees are doing while working, and has no right to know what they are doing when they’re not working. The software doesn’t track any activity when someone is not working (on a break etc). This is in fact less invasive than similar software which monitors all computer use and doesn’t distinguish the difference between working and non-working time. </p>
                            </div>
                            <div class="qanda">
                                <h5>
                                    I don't need to "monitor" my team. Is there any benefit to this software?</h5>
                                <hr>
                                <p>
                                    Absolutely. About 20% of the benefits of the software come from the monitoring features. The other 80% come from empowering your staff to manage their own time more effectively, and from providing you with higher-level insights into how time is spent in your organization. These insights will enable to you improve processes in your business so that it runs more efficiently.

                                    For example one major benefit is the ability to know not only which specific tasks your employees are working on, but also how much time is being spent on which projects/clients across your company. This allows for better future allocation of time, improves communication with your team, reduces the time spent in unnecessary meetings and a host of other benefits.
                                     </p>
                            </div>

                            <div class="qanda">
                                <h5>
                                    
                                    Is employee monitoring legal?

                                 <hr>
                                <p>
                                    In most jurisdictions employee monitoring is legal with no restrictions. However, there may be restrictions on what employee activities you monitor or record. Please consult your legal counsel to ensure you are implementing employee monitoring within the legal and regulatory guidelines applicable to your organization and jurisdiction. MyRemoteDesk is fully customizable with respect to its monitoring and recording features to abide by any legal, ethical or regulatory restrictions.
                                 </p>
                            </div>


                            <div class="qanda">
                                <h5>
                                    How can I turn monitoring on/off for a user or group?
                                 <hr>
                                <p>
                                    You can turn monitoring on/off for a user or computer by simply clicking Start and Stop respectively on desktop app.
                                 </p>
                            </div>



                            <div class="qanda">
                                <h5>
                                    How can I measure employee productivity?
                                     <hr>
                                <p>
                                    Through MyRemoteDesk’s comprehensive dashboards and employee analytics, employers are given invaluable insight into productivity and daily workloads .    
                                </p>
                            </div>



                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}