{% extends 'layout.html' %}
{% block body %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="container">
        <div class="row justify-content-between align-items-center">
                <div class="col">
                        <div class="card">
                                <div class="row card-body">
                                        <div class="col">
                                                <h1 class="display-2 mb-4">Employee Monitoring & Productivity Management
                                                        Software</h1>
                                                <h3 class="display-4 mb-4">Deter. Detect. Prevent.</h3>
                                                <p class="lead mb-4 text-muted">Know exactly what your employees are
                                                        doing in real-time.</p>
                                        </div>
                                        <div class="col text-right">
                                                <img src="/static/html/assets/img/group-working-1.gif" />
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div class="container">
        <br />
        <br />

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <div id="platform-exam_proctoring" class="platform-animation">
                                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_omszt4va.json"
                                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop
                                        autoplay>
                                </lottie-player>
                        </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Our Mission</h1>
                        <p class="lead mb-4 text-muted">We are on a mission to empower businesses around the globe.
                                Our highly experienced team is working day and night to create powerful business
                                automation tools that can reduce
                                business leaders' workload and allow them to harness the full potential of their human
                                resources.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fdLGjD.json"
                                background="transparent" speed="1" style="width: 600px; height: 500px;" loop autoplay>
                        </lottie-player>
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Our Vision</h1>
                        <p class="lead mb-4 text-muted">We thrive to provide a comprehensive business suite to sustain
                                and grow during hard times.
                                In the last few years, the business sector has seen lots of ups and downs that have
                                withered many organizations to the
                                ground.

                                Our team is busy developing a platform for small and big organizations leveraging mobile
                                technology and location
                                technologies to run their business despite all odds. We are hoping to create a
                                futuristic cloud-based workplace for
                                modern business teams.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <div id="platform-exam_proctoring" class="platform-animation">
                                <img class="mb-3 mt-3"
                                        src="/static/html/assets/img/5e8c63b23fc11bddb44045d7_track time from anywhere.svg"
                                        alt="">
                        </div>
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Automated Attendance and Real-Time Monitoring.</h1>
                        <p class="lead mb-4 text-muted">
                                Track when your employees are clocking in and out, when they take breaks, and how much
                                time they actually spent working
                                during their clocked time.<br />
                                Check what your remote employees are currently doing at any point during the day.
                        </p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/07-application-usage.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">App usage.</h1>
                        <p class="lead mb-4 text-muted">Run a productivity check on your employees with App usage
                                feature. App usage helps you pinpoint details of applications
                                used by employees during working hours.</p>
                </div>
        </div>


        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de38fd6df29784ec1d6_ill3.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Acquire Screenshots of Your Employees</h1>
                        <p class="lead mb-4 text-muted">MyRemoteDesk provides 100% transparency by capturing screenshots
                                at fixed intervals of time.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/20-reports.png" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Observe and Analyse</h1>
                        <p class="lead mb-4 text-muted">MyRemoteDesk lets you observe and analyse your employee’s
                                performance, so that you can make the right
                                decision.</p>
                </div>
        </div>

        <div class="row align-items-center my-large">
                <div class="col-md-6">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de17ea4ad3bc7625849_ill4.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 offset-lg-1">
                        <h1 class="display-2 mb-4">Organize Your Projects and Tasks</h1>
                        <p class="lead mb-4 text-muted">Break down projects into smaller tasks, assign them to employees
                                and set priorities, so your whole team knows what they
                                should do next.</p>
                </div>
        </div>

                <div class="row align-items-center my-large">
                        <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/Hybrid_Workforce_Animated_Hero_Banner.gif">
                        </div>
                        <div class="col-md-6 col-lg-5 order-md-1">
                                <h1 class="display-2 mb-4">Modernize your meeting solution for your Project Team</h1>
                                <p class="lead mb-4 text-muted">MyRemoteDesk provides the tools to make every meeting a great
                                one.
                        
                        Focus on your project meeting 's without any disturbance
                        Share and play videos with full audio and video transmit without uploading the content
                </p>
                        </div>
                </div>


                        <div class="row align-items-center my-large">
                                <div class="col-md-6">
<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_Tcz0nk.json" background="transparent" speed="1"
        style="width: 500px; height: 500px;" loop autoplay></lottie-player>                                </div>
                                <div class="col-md-6 col-lg-5 offset-lg-1">
                                        <h1 class="display-2 mb-4">Interactive Dashboards for Organization & Employee</h1>
                                        <p class="lead mb-4 text-muted">Interactive Dashboard for Organization & Employee to connect with various activities and check the statistics of the
                                        productivity of employees</p>
                                </div>
                        </div>

<div class="row align-items-center my-large">
        <div class="col-md-6 order-md-2 offset-lg-1 ">
                        <img class="mb-3 mt-3" src="/static/html/assets/img/5e738de1f523aa6599c4b1c1_ill2.svg" alt="">
                </div>
                <div class="col-md-6 col-lg-5 order-md-1">
                        <h1 class="display-2 mb-4">Improve Employees’ Productivity</h1>
                        <p class="lead mb-4 text-muted">Monitor which apps and websites your remote workers are using
                                during working hours, including frequency of use and time
                                spent on each of them.<br />
                                Categorize all apps and websites your team is using into productive or unproductive, and
                                see advanced productivity
                                charts and reports of their working time.
                        </p>
                </div>
        </div>
</div>

<br>

<div class="container">
        <div class="card shadow bg-white text-primary">
                <div class="card-body">

                        <div class="container">
                                <div class="row">
                                        <div class="col-10 offset-1">
                                                <h1 class="text-center">From Global to Granular, See the
                                                        Key Performance Indicators that Matter</h1>
                                                <h3 class="text-center">Committed to Your Success</h3>
                                                <div class="row  justify-content-center feature-container">

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j1.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Increase employee
                                                                                                efficiency

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                When you can analyze
                                                                                                your individual team
                                                                                                members' performance in
                                                                                                real time, it will
                                                                                                empower you to make wise
                                                                                                decisions
                                                                                                to boost their
                                                                                                efficiency and guide
                                                                                                them to become a better
                                                                                                professional.
                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j2.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Completion of tasks on
                                                                                                time

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                MyRemoteDesk employee
                                                                                                tracker makes it
                                                                                                possible to assign and
                                                                                                monitor a task’s
                                                                                                progress through a
                                                                                                centralized dashboard to
                                                                                                ensure all projects
                                                                                                complete on time without
                                                                                                compromising quality.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j3.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Eliminating of
                                                                                                unnecessary wastage of
                                                                                                time

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                By evaluating every
                                                                                                minute of your team
                                                                                                members, you can weed
                                                                                                out all the unnecessary
                                                                                                time gaps which are
                                                                                                keeping your
                                                                                                team behind the
                                                                                                schedule.
                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j4.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Increase profit

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                You can give a big push
                                                                                                to your annual return by
                                                                                                making your employees
                                                                                                more productive and
                                                                                                utilizing their time in
                                                                                                the
                                                                                                systematic manner.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j5.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Boost your employee's
                                                                                                time management

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Instant alerts and
                                                                                                real-time tracking will
                                                                                                help you better manage
                                                                                                your employees time and
                                                                                                set their daily schedule
                                                                                                to
                                                                                                improve their
                                                                                                productivity in no time.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j6.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Privacy for Employees

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Despite the real-time
                                                                                                tracking, your
                                                                                                employee's privacy will
                                                                                                never be compromised
                                                                                                with this tool. We have
                                                                                                made sure that
                                                                                                only authorized people
                                                                                                can access your
                                                                                                employees' private
                                                                                                information.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j7.png"
                                                                                                        alt="Dedicated Account Team">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Maintain the discipline
                                                                                                in your organization

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Ensure that your team
                                                                                                members always work
                                                                                                under a strict
                                                                                                disciplinary environment
                                                                                                with graphical time
                                                                                                tracking reports
                                                                                                and performance boosting
                                                                                                features.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j8.png"
                                                                                                        alt="Free Technical Support">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Increase the
                                                                                                productivity of your
                                                                                                employees

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Using real-time tracking
                                                                                                dashboard , you can
                                                                                                identify touch points
                                                                                                behind your individual
                                                                                                employees low
                                                                                                performance and
                                                                                                make effective
                                                                                                strategies to boost his
                                                                                                or her performance
                                                                                                following compassionate
                                                                                                and strategic approach

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j9.png"
                                                                                                        alt="Unmatched Scalability">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Transparency between
                                                                                                Manager and Employee

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Employee Time Tracking
                                                                                                software will eliminate
                                                                                                all barriers between
                                                                                                managers and employees
                                                                                                to create a transparent
                                                                                                work
                                                                                                environment and build a
                                                                                                healthy relationship
                                                                                                between team members.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j10.png"
                                                                                                        alt="User Satisfaction">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Identify and Eliminate
                                                                                                unproductive activities

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Managers can pinpoint
                                                                                                all the activities that
                                                                                                are making their team
                                                                                                members unproductive and
                                                                                                make strategies to
                                                                                                eliminate all those
                                                                                                activities without
                                                                                                punishing employees in
                                                                                                the way.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j11.png"
                                                                                                        alt="Unparalleled Uptime">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Better to plan projects

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                Ability to better
                                                                                                understand and break a
                                                                                                project into small
                                                                                                actionable tasks is
                                                                                                given by MyRemoteDesk
                                                                                                project management
                                                                                                software to remote
                                                                                                teams.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-12 col-md-4">
                                                                <div class="container">
                                                                        <div class="row ">
                                                                                <div class="col-12">
                                                                                        <p><img class="img-fluid services-feature-img"
                                                                                                        src="/static/html/assets/img/j12.png"
                                                                                                        alt="Technology">
                                                                                        </p>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                        <h6 class="text-center">
                                                                                                Never Miss Any
                                                                                                Notification

                                                                                        </h6>
                                                                                        <p class="text-center">
                                                                                                When organization assign
                                                                                                task, create meeting,
                                                                                                etc , every notification
                                                                                                will be sended to
                                                                                                employees.

                                                                                        </p>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
</section>



</div>
</div>
</div>

</div>
</div>

{% endblock %}