{% extends 'OrgDashboard.html' %}
{% block body %}
{% csrf_token %}
<div class="row align-items-center d-flex  justify-content-center">
  <div class="col-12 mb-4">
    <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
      <div class="card-body align-items-center d-flex justify-content-center">
        <div class="row mb-4">
          <div class="col-lg-12 col-sm-16">
            <h3 class="h3 text-center">NOTICES OVERVIEW</h3>
          </div>
          <div class="card-body">
            {% if notices is not none and notices %}
            <center>
              <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_ei00df1n.json" background="transparent"
                speed="1" style="width: 400px; height: 300px;" loop="" autoplay="">
              </lottie-player>
            </center>
            {% for notice in notices %}
            <div class="card hover-state border-bottom rounded-0 py-3">
              <div class="card-body d-sm-flex align-items-center flex-wrap flex-lg-nowrap py-0">
                <div class="col-1 text-left text-sm-center mb-2 mb-sm-0">
                  <div class="form-check check-lg inbox-check me-sm-2">
                    <img src="../static/html/assets/img/megaphone.png">
                  </div>
                </div>
                <div class="col-11 col-lg-8 px-0 mb-4 mb-md-0">
                  <div class="mb-2">
                    <h3 class="h5">
                      {{notice.on_title}}
                    </h3>
                    <div class="d-block d-sm-flex">
                      <div>
                        <h4 class="h6 fw-normal text-gray d-flex align-items-center mb-3 mb-sm-0">
                          <svg class="icon icon-xxs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
                              clip-rule="evenodd"></path>
                          </svg>
                          {% load tz %}
                          {% timezone "Asia/Kolkata" %}
                          {{notice.on_date_time}}
                          {% endtimezone %}
                        </h4>
                      </div>

                    </div>
                  </div>
                  <div>
                    <span class="fw-normal text-gray">
                      {{notice.on_desc}}

                    </span>
                  </div>
                </div>
                <div
                  class="col-10 col-sm-2 col-lg-2 col-xl-2 d-none d-lg-block d-xl-inline-flex align-items-center ms-lg-auto text-right justify-content-end px-md-0">
                  <div class="dropdown">
                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                        </path>
                      </svg>
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
                      <a class="dropdown-item d-flex align-items-center" href="/update-notice/{{ notice.id }}/"
                        method="POST"><svg class="dropdown-icon text-gray-400 me-2" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                          </path>
                          <path fill-rule="evenodd"
                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                            clip-rule="evenodd"></path>
                        </svg>
                        Edit </a>

                      <a class="dropdown-item d-flex align-items-center" href="{% url 'delete-notice' notice.id  %}"
                        method="POST"><svg class="dropdown-icon text-danger me-2" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd"></path>
                        </svg>
                        Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br>
            {% endfor %}
            {% else %}
            <div class="col-lg-12 col-sm-16">
              <center>
                <lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"
                  background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                </lottie-player>
              </center>
              <h3 class="h3 text-center">
                No Records Found!
              </h3>
            </div>
            {% endif %}
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}