{% extends 'OrgDashboard.html' %}
{% block body %}
<div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">
                <div class="row mb-4">
                    <div class="col-lg-12 col-sm-16">
                        <h3 class="h3 text-center">Update Tasks</h3>
                    </div>
                    <center>
                        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_2jbzmbru.json"
                            background="transparent" speed="1" style="width: 400px; height: 300px;" loop autoplay>
                        </lottie-player>
                    </center>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="mb-4">
                                <div class="form-group">
                                    <label for="task-name">Task Name</label>
                                    <input type="text" name="t_name" class="form-control" id="t_name"
                                        placeholder="{{tasks.t_name}}" value="{{tasks.t_name}}">
                                </div>
                                <div class="form-group">
                                    <label for="task-name">Task Description</label>
                                    <textarea name="t_desc" class="form-control" id="t_desc" rows="6">{{tasks.t_desc}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="task-name">Task Priority</label>
                                    <select name="t_priority" class="form-control" id="t_priority">
                                        <option value="{{tasks.t_priority}}">{{tasks.t_priority}}</option>
                                        <option value="Medium Priority">Medium Priority</option>
                                        <option value="Low Priority">Low Priority</option>
                                        <option value="High Priority">High Priority</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="task-deadline">Task Deadline Date</label>
                                    <input type="date" id="start" name="t_deadline_date" class="form-control"
                                        id="t_deadline_date" value="{{tasks.t_deadline_date}}">
                                </div>

                                <div class="form-group">
                                    <label for="task-assign-employee">Employee Assign</label>
                                    <select name="e_id" class="form-control" id="e_id">
                                        {% for eob in projects_emp_link %}
                                        <option value={{eob.e_id_id}}>{{eob.e_id.e_name.upper}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update Task</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; 
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("t_deadline_date").setAttribute("min", today);
</script>
{% endblock %}