<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-theme-primary bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><span style="font-size:18px;">
                    <center>
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_wEt2nn.json"
                            background="transparent" speed="1" style="width: 70px; height: 50px;" loop autoplay>
                        </lottie-player>My Remote Desk
                    </center>
                </span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars" style="color:#1c2540; font-size:28px;"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    {% if request.session.logged_in %}
                    {% if request.session.u_type == "org" %}
                    <li class="nav-item ">
                        <a class="nav-link" id="active1" href="/org_index"><span class="fas fa-columns">
                                Dashboard</span></a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="active2" href="/org_change_password"><span class="fas fa-key"> Change
                                Password</span></a>
                    </li>
                    </li>
                    {% endif %}
                    {% if request.session.u_type == "emp" %}
                    <li class="nav-item ">
                        <a class="nav-link" id="active1" href="/user_index"><span class="fas fa-columns">
                                Dashboard</span></a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="active2" href="/user_change_password"><span class="fas fa-key">
                                Change Password</span></a>
                    </li>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" id="active3" href="/contact"><span class="fas fa-phone-alt"> Contact
                                Us</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="active4" href="/faq"><span class="fas fa-question"> FAQ</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="active4" href="#" onclick="funLogout()"
                            class="btn btn-secondary text-dark btn-xs"><span class="fas fa-sign-out-alt">
                                Logout</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="fas fa-sign-in-alt">Login</span></a>
                        <div class="dropdown-menu">
                            <a href="/LoginOrg" class="dropdown-item">Organization Login</a>
                            <a href="/LoginUser" class="dropdown-item">User Login</a>
                        </div>
                        </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="active5" href="/SignUpOrg"><span class="fas fa-user-plus">
                                Register</span></a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="active8" href="/contact"><span class="fas fa-phone-alt"> Contact
                                Us</span></a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="active7" href="/faq"><span class="fas fa-question"> FAQ</span></a>
                    </li>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<script>
    function funLogout() {
        swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to logout?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Logout me!',
            cancelButtonText: 'No!',
            confirmButtonColor: '#d33',
            cancelButtonColor: '#202124',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/logout",
                    success: function (response) {
                        if (response == "success") {
                            console.log(response);
                            window.location.href = "http://localhost:8000/";
                        }
                        else
                        {
                            window.location.href = "http://localhost:8000/";
                        }
                    }
                });
                swal.fire(
                    'Success!',
                    'You are successfully has been sign out from the system.',
                    'success'
                )
            } else if (
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swal.fire(
                    'Cancelled',
                    'Logout cancelled.',
                    'error'
                )
            }
        })
    }
</script>