dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.8
django-admin-thumbnails==0.2.5
django-admin-view-permission==1.8
django-allauth==0.39.1
django-bootstrap4==0.0.7
django-ckeditor==6.0.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-currencies==0.10.1
django-debug-toolbar==1.10.1
django-environ==0.4.5
django-extensions==3.1.5
django-heroku==0.3.1
django-js-asset==1.2.2
django-model-utils==4.1.1
django-mptt==0.12.0
django-rest-framework==0.1.0
django-rest-passwordreset==1.1.0
django-storages==1.12.3
django-taggit==2.0.0
django-tastypie==0.14.3
django-templated-mail==1.1.1
django-widget-tweaks==1.4.9
fuzzywuzzy==0.18.0
mysql==0.0.2
mysql-connector==2.2.9
mysql-connector-python==8.0.27
mysqlclient==2.0.3
numpy==1.19.5
pandas==1.1.5
plotly==4.14.3
pytz==2020.1
pywin32==300
pywin32-ctypes==0.2.0
random-password-generator==2.2.0
uiautomation==2.0.16